.about {
  width:100vw;
  height:20vh;
  top:130vh;
  left:0;

  background-color:lightsalmon;
  background-image:url('http://album.laiyegon.com:9088/content/resized/m/2017/2017-home-2/IMG_0163.JPG');
}
.about .collection h1 {
  color:#FFF;
}
