.album {
  width:50vw;
  height:50vh;
  top:80vh;
  left:0;

  background-color:pink;
  background-image:url('http://album.laiyegon.com:9088/content/resized/m/1998/PhotoScan%20(107).jpg');
}
.album .gallery {
  display:grid;
  grid-template: auto / repeat(4, 25%);
  grid-gap:1px;
}
.album .gallery li h3 {
  grid-column:1/3;
}
.album .gallery img {
  object-fit:cover;
  width:100%;
  height:100%;
}
.album .gallery li {
  overflow:hidden;
  height:33vh;
  cursor:pointer;
}
.album .gallery a,
.album .gallery figure {
  display:block;
  position:relative;
  height:100%;
  width:100%;
}
.album .gallery figure img {
  display:block;
  width:100%;
  height:100%;
  object-fit:cover;
}
.album .gallery figcaption {
  position:absolute;
  bottom:0;
  left:0;
  right:0;
  color:white;
  padding:1em;
  background:rgba(0,0,0,0.5);
  overflow:hidden;
  transition:background 0.3s ease;
}
.album .gallery li:hover figcaption {
  background:rgba(0,0,0,0.8);
}

@media screen and (max-width: 767px) {
  .album .gallery {
    grid-template: auto / repeat(2, 50%);
  }
}
