/* Animations for when the box opens */
.body-about .about,
.body-album .album,
.body-story .story {
  z-index:10;
  width:100vw;
  height:100vh;
  left:0;
  /*
  Animate with JS
  top:0;
  */
  transition: top var(--t-show-box-half) ease,
    left var(--t-show-box-half) ease,
    width var(--t-show-box-half) ease,
    height var(--t-show-box-half) ease var(--t-show-box-half),
    z-index 0s linear 0s;

}
body.lock-box-position {
  overflow:hidden;
}
.body-album.lock-box-position .album,
.body-story.lock-box-position .story,
.body-about.lock-box-position .about {
  overflow:auto;
  position:fixed;
  top:0;
  transition:none;
}
.body-about .about:after,
.body-album .album:after,
.body-story .story:after {
  z-index:-1;
  opacity:0;
  transition:opacity var(--t-show-box) ease 0s, z-index 0s ease 0s;
}
.body-about .about:before,
.body-album .album:before,
.body-story .story:before {
  z-index:0;
  opacity:1;
  transition:opacity var(--t-show-box) ease 0s, z-index 0s ease 0s;
}
.body-single .box-label,
.body-collection .box-label {
  opacity:0;
  z-index:-1;
  transition:opacity var(--t-show-box) ease 0s, z-index 0s ease var(--t-show-box);
}
.body-about.body-collection .about .collection,
.body-album.body-collection .album .collection,
.body-album.body-single .album .single,
.body-story.body-collection .story .collection,
.body-story.body-single .story .single {
  z-index:0;
  opacity:1;
  transition: opacity var(--t-show-content) ease var(--t-show-box), z-index 0s linear, display 0s linear;
}
