.box {
  z-index:2;
  position:absolute;
  overflow:hidden;
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  align-content:center;
  border-top:1px solid white;
  background-color:lightblue;
  background-position:center center;
  background-repeat:no-repeat;
  background-size:cover;

  transition: top var(--t-show-box-half) ease var(--t-show-box-half),
    left var(--t-show-box-half) ease,
    width var(--t-show-box-half) ease,
    height var(--t-show-box-half) ease var(--t-show-box-half),
    position 0s linear var(--t-show-box),
    overflow 0s linear var(--t-show-box),
    z-index 0s linear var(--t-show-box);
}
.box:after {
  content:'';
  background:rgba(0,0,0,0.7);
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  z-index:1;
  opacity:1;
  transition:opacity var(--t-show-box) ease 0s, z-index 0s ease var(--t-show-box);
}
.box:before {
  content:'';
  background:lightyellow;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  z-index:-1;
  opacity:0;
  transition:opacity var(--t-show-box) ease 0s, z-index 0s ease var(--t-show-box);
}
.box * {
  position:relative;
}
.box .collection,
.box .single {
  z-index:-1;
  opacity:0;
  position:absolute;
  width:100vw;
  height:100vh;
  overflow-x:hidden;
  transition: opacity var(--t-show-content) ease, z-index 0s linear var(--t-show-box), display 0s linear var(--t-show-box);
}
.box-label {
  font-weight:bold;
  font-size:2rem;
  opacity:1;
  z-index:2;
  color:white;
  text-decoration:none;
  transition:opacity var(--t-show-box) ease 0s, z-index 0s ease 0s;
}
.box h1 {
  color:white;
  text-transform:uppercase;
  background-position: center center;
  background-repeat:no-repeat;
  background-size:cover;
  font-size:2rem;
  position:relative;
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  align-content:center;
}
.box h1:before {
  content:' ';
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background:rgba(0,0,0,0.5);
}
.box h1 span {
  padding:4em 0;
  position:relative;
  z-index:2;
}

