@font-face {
  font-family:'roboto';
  src: url(data:font/ttf;charset=utf-8;base64,<?php b64('fonts/Roboto-Regular.ttf'); ?>);
}
@font-face {
  font-family:'roboto';
  src: url(data:font/ttf;charset=utf-8;base64,<?php b64('fonts/Roboto-Bold.ttf'); ?>);
  font-weight:bold;
}
@font-face {
  font-family:'roboto';
  src: url(data:font/ttf;charset=utf-8;base64,<?php b64('fonts/Roboto-Italic.ttf'); ?>);
  font-style:italic;
}
@font-face {
  font-family:'roboto';
  src: url(data:font/ttf;charset=utf-8;base64,<?php b64('fonts/Roboto-BoldItalic.ttf'); ?>);
  font-style:italic;
  font-weight:bold;
}
