:root {
  --t-show-box: <?php echo $t_show_box; ?>s;
  --t-show-box-half: <?php echo $t_show_box_half; ?>s;
  --t-show-content: <?php echo $t_show_content; ?>s;
}
html {
  font-family:'roboto';
  overflow-x:hidden;
}
body {
  position:relative;
  overflow:initial;
  min-height:100vh;
  min-width:100vw;
}
.nav-main {
  display:none;
}

