header {
  width:100vw;
  height:80vh;
  position:absolute;
  top:0;
  left:0;
  background:lightblue center center no-repeat;
  background-image:url('http://album.laiyegon.com:9088/content/resized/m/1977/stratford/PhotoScan%20(283).jpg');
  background-size:cover;
  display:flex;
  flex-wrap:wrap;
  flex-direction:column;
  align-content:center;
  justify-content:center;
  text-align:center;
  z-index:0;
}
header:after {
  content:'';
  background:rgba(0,0,0,0.7);
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  z-index:1;
}
header * {
  color:white;
  position:relative;
  z-index:2;
  margin-bottom:20px;
  font-weight:bold;
}
header strong {
  font-size:1rem;
}
header .laiyegon {
  font-size:4.5rem;
}
header .life {
  font-size:1.6rem;
}

