.story {
  width:50vw;
  height:50vh;
  top:80vh;
  left:50vw;

  border-left:1px solid white;
  background-color:lightyellow;
  background-image:url(http://album.laiyegon.com:9088/content/resized/m/2018/2018-home/IMG_20180215_213802.jpg);
}
.story.box h1 span {
  padding:2em;
}
.story .collection ul {
  width:1200px;
  margin: 30px auto;
}
.story .collection h3 {
  font-size:1.5rem;
  margin-bottom:10px;
}
.story .collection .publish-date {
  margin-bottom:5px;
  font-size:0.9rem;
  color:#666;
}
.story .collection .excerpt {
  margin-bottom:20px;
}
.story .story-body {
  width:1200px;
  margin:30px auto;
}
.story .story-body p {
  line-height: 175%;
  margin-bottom: 1.5em;
}
.story .story-body em {
  font-style:italic;
}
.story .story-body strong {
  font-weight:bold;
}
.story .story-body .author {
  margin-bottom:0;
}
